<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="inicio-container">
            <!-- Logo -->
            <div class="logo-container">
                <img src="{{ url_for('static', filename='Recsic-11.png') }}" alt="Logo" class="logo">
            </div>
<!-- Botones de Cerrar sesión y Perfil -->
<div class="header-buttons">
    <a href="{{ url_for('perfil') }}">
        <button class="button" type="button">Perfil</button>
    </a>
    <a href="{{ url_for('logout') }}">
        <button class="button" type="button">Cerrar sesión</button>
    </a>
</div>

            <div class="welcome-message">
                <h2>¡Bienvenido, {{ usuario }}!</h2>
                <p>Estás en tu página principal.</p>
            </div>
        </div>
    </body>
</html>
