<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar sesión</title>
        <link rel="stylesheet" type="text/css" href="C:\Users\pauli\virtualenviroment\Recsic\templates\style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="login-container">
            <!-- Logo -->
            <div class="logo-container">
                <img src="{{ url_for('static', filename='Recsic-09.png') }}" alt="Logo" class="logo">
            </div>

            <div class="login-box">
                <h2>Inicia sesión</h2>
                <div class="msg">{{ msg }}</div>
                <form name="formulari" action="{{ url_for('login') }}" method="post">
                    <!-- Nombre de usuario -->
                    <label for="usuario">Nombre de usuario</label>
                    <input type="text" name="usuario" placeholder="Nombre de usuario" id="usuario" required><br><br>

                    <!-- Contraseña -->
                    <label for="contraseña">Contraseña</label>
                    <input type="password" name="contraseña" placeholder="Contraseña" id="contraseña" required><br><br>

                    <div class="form-buttons">
                        <a href="{{ url_for('registro') }}">
                            <button type="button" class="button">Crear cuenta</button>
                        </a>
                        <input type="submit" class="button" value="Iniciar sesión">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
