<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="principal">
            <!-- Botón para regresar a la página principal -->
            <div class="header-buttons">
                <a href="{{ url_for('inicio') }}">
                    <button type="button" class="button volver">Volver a página principal</button>
                </a>
            </div>

            <!-- Encabezado de perfil -->
            <h2 class="profile-title">Perfil</h2>

            <!-- Información de usuario -->
            <div class="profile-info">
                <ul>
                    <li><b>Nombre de usuario:</b> {{ cuenta['usuario'] }}</li>
                    <li><b>Correo electrónico:</b> {{ cuenta['email'] }}</li>
                </ul>
            </div>
        </div>
    </body>
</html>
