<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="registro-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='Recsic-09.png') }}" alt="Logo" class="logo">
            </div>
            <form name="formulari" action="{{ url_for('registro') }}" method="post" autocomplete="off" class="registro-box">
                <h2 class="form-title">Crear cuenta</h2>

                <!-- Nombre de usuario -->
                <div class="form-group">
                    <label for="usuario">Nombre de usuario</label>
                    <input type="text" name="usuario" placeholder="Nombre de usuario" id="usuario" required>
                </div>

                <!-- Contraseña -->
                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" name="contraseña" placeholder="Contraseña" id="contraseña" required>
                </div>

                <!-- Correo electrónico -->
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" name="email" placeholder="Correo electrónico" id="email" required>
                </div>

                <!-- Botones -->
                <div class="form-buttons">
                    <a href="{{ url_for('login') }}"><button type="button" class="button">Iniciar sesión</button></a>
                    <input type="submit" class="button submit" value="Registrarse">
                </div>
            </form>
        </div>
    </body>
</html>
